.bottom-buffer {
  margin-bottom:20px;
}

.top-buffer {
  margin-top:20px;
}

.headings {
  text-align: center;
  font-size: 135%;
  text-decoration: underline;
  margin-bottom:10px;
}

.content{
  margin-top: 10px;
  padding: 10px;
}

.navbar{
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0.8);
}

.container {
  width: 1380px;
}