.image {
  display: block;
  width: 100%;
  height: auto;
}

.show-title {
  background-color: #f5f5f5;
  padding: 10px 15px;
  color: #222;
  font: 16px Sans-Serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  text-align: center;
}

.rating {
  background: #FED700;
  border-radius: 3px;
  color: #222;
  font-size: 11px;
  font-weight: 500;
  height: auto;
  line-height: normal;
  padding: 4px 6px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: auto;
  z-index: 4;
}

