<div class="headings"> <%= I18n.t('headings.genres') %> </div>
<% @filter_lists[:genres].each_slice(2) do |sliced_genres| %>
    <div class="row">
      <% sliced_genres.each do |genre| %>
      <div class="col-md-6">
        <%= link_to shows_path(genre_id: genre.id) do %>
            <%= genre.name %><span class="badge pull-right"><%= genre.shows.size %></span> <br>
        <% end %>
      </div>
    <% end %>
    </div>
<% end %>
<hr>

<div class="headings"> <%= I18n.t('headings.countries') %> </div>
<% @filter_lists[:countries].each do |country| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to shows_path(country_id: country.id) do %>
            <%= country.name %><span class="badge pull-right"><%= country.shows.size %></span> <br>
        <% end %>
      </div>
    </div>
<% end %>
<hr>

<div class="headings"> <%= I18n.t('headings.languages') %> </div>
<% @filter_lists[:languages].each do |language| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to shows_path(language_id: language.id) do %>
            <%= language.name %><span class="badge pull-right"><%= language.shows.size %></span> <br>
        <% end %>
      </div>
    </div>
<% end %>
<hr>

<div class="headings"> <%= I18n.t('headings.types') %> </div>
<% @filter_lists[:types].each do |type| %>
    <div class="row">
      <div class="col-md-6">
        <%= link_to shows_path(type_id: type.id) do %>
            <%= type.name %><span class="badge pull-right"><%= type.shows.size %></span> <br>
        <% end %>
      </div>
    </div>
<% end %>
<hr>

<div class="headings"> <%= I18n.t('headings.statuses') %> </div>
<% @filter_lists[:statuses].each do |status| %>
    <div class="row">
      <div class="col-md-7">
        <%= link_to shows_path(status_id: status.id) do %>
            <%= status.name %><span class="badge pull-right"><%= status.shows.size %></span> <br>
        <% end %>
      </div>
    </div>
<% end %>
<hr>

<div class="headings"> <%= I18n.t('headings.networks') %> </div>
<% @filter_lists[:networks].each_slice(2) do |sliced_networks| %>
    <div class="row">
      <% sliced_networks.each do |network| %>
          <div class="col-md-6">
            <%= link_to shows_path(network_id: network.id) do %>
                <%= network.name %><span class="badge pull-right"><%= network.shows.size %></span> <br>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>
<div class="bottom-buffer"></div>