<%= form_tag(shows_path, method: :get) do %>
    <div class="form-group well top-buffer">

      <div class="headings small-bottom-buffer"> <%= I18n.t('headings.sort_by') %> </div>

      <%= radio_button_tag(:sort_by, AppConstants::MOST_POPULAR, params && params[:sort_by] == AppConstants::MOST_POPULAR) %>
      <%= label_tag I18n.t('labels.most_popular') %><br>

      <%= radio_button_tag(:sort_by, AppConstants::LATEST_SHOWS, params && params[:sort_by] == AppConstants::LATEST_SHOWS) %>
      <%= label_tag I18n.t('labels.most_recent') %><br>

      <%= radio_button_tag(:sort_by, AppConstants::TOP_RATED, params && params[:sort_by] == AppConstants::TOP_RATED) %>
      <%= label_tag I18n.t('labels.highest_rated') %>

    </div>

    <div class="form-group well top-buffer">

      <div class="headings"> <%= I18n.t('headings.filters') %> </div>

      <div class="pull-left "><%= I18n.t('labels.genre') %></div>
      <%= select_tag :genre_id, options_from_collection_for_select(@filter_lists[:genres], 'id', 'name', params[:genre_id]), class: 'form-control', :include_blank => true %>

      <div class="pull-left top-buffer"><%= I18n.t('labels.country') %></div>
      <%= select_tag :country_id, options_from_collection_for_select(@filter_lists[:countries], 'id', 'name', params[:country_id]), class: 'form-control', :include_blank => true %>

      <div class="pull-left top-buffer"><%= I18n.t('labels.language') %></div>
      <%= select_tag :language_id, options_from_collection_for_select(@filter_lists[:languages], 'id', 'name', params[:language_id]), class: 'form-control', :include_blank => true %>

      <div class="pull-left top-buffer"><%= I18n.t('labels.status') %></div>
      <%= select_tag :status_id, options_from_collection_for_select(@filter_lists[:statuses], 'id', 'name', params[:status_id]), class: 'form-control', :include_blank => true %>

      <div class="pull-left top-buffer"><%= I18n.t('labels.type') %></div>
      <%= select_tag :type_id, options_from_collection_for_select(@filter_lists[:types], 'id', 'name', params[:type_id]), class: 'form-control', :include_blank => true %>

      <div class="pull-left top-buffer"><%= I18n.t('labels.network') %></div>
      <%= select_tag :network_id, options_from_collection_for_select(@filter_lists[:networks], 'id', 'name', params[:network_id]), class: 'form-control', :include_blank => true %>
    </div>

    <%= submit_tag I18n.t('buttons.submit'), name: nil, class: 'btn bottom-buffer' %>
<% end %>