<% shows.each_slice(6) do |sliced_shows| %>
    <div class="row bottom-buffer">
      <% sliced_shows.each do |show| %>
          <% image = (('http://image.tmdb.org/t/p/original/'+(show.try(:poster).try(:path)) if show.poster)) || AppConstants::DEFAULT_IMAGE %>
          <div class="col-md-2">
            <div class="poster">
              <div class="rating">
                <%= show.rating %>
              </div>
              <%= link_to(image_tag(image, class: 'image'), show) %>
            </div>
            <%= link_to show.name, show, {class: 'show-title'} %>
          </div>
      <% end %>
    </div>
<% end %>
<%= paginate shows %> <br>
<%= page_entries_info shows %>