<!--Index of all the shows-->
<div class="col-md-10 pull-left ">
  <%= render partial: 'list_shows_layout', locals: {shows: @shows} %>
</div>

<!--Filter options for users-->
<div class="col-md-2 pull-right panel panel-default">
  <%= render partial: 'filter' %>
</div>