<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @show.name %>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-4">
      <%= image_tag(@show.image_url, size: '300x400') %>
    </div>

    <div class="col-md-8">
      <h3>Project Description</h3>
      <%= (@show.summary).html_safe %>
      <h3>Project Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Projects</h3>
    </div>
  </div>
  <div class="row col-md-10">
      <% @similar_shows.each do |show| %>
          <div class="col-md-2">
            <%= link_to(image_tag(show.image_url), show) %>
          </div>
      <% end %>
  </div>
</div>
